<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input type="text" [(ngModel)]="display" readonly></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let btn of buttons" (click)="onButtonClick(btn)">
        <ion-button expand="full">{{ btn }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
